.add-button{
  background-color: transparent;
  border-style: none;
  margin-top: 40px;
  margin-left: 80px;

}
.add-button img{
  width: 200px;
  height: 200px;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1 linear;
  transition: opacity 1s linear;
}

.add-button img:hover{
  filter: invert(8%);
}
