.customize-button{
  margin-left: 30%;
  width: 40%;
  height: 80px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.customize-button img{
  height: 60px;
}

.customize-button img:hover{
  filter: invert(8%);
}

.customize{
  background-image: url("/assets/top-image.jpg");
  background-repeat: repeat;
  width: 100% !important;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1600px){
  .customize-button{
    font-size: 32px;
  }
}
